* {
    margin: 0;
    padding: 0;
    color: rgb(66, 62, 56);
    font-family: "Inter", "Roboto", sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 240, 221);
}

a {
    text-decoration: none;
}

button {
    width: 100px;
    height: fit-content;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(66, 62, 56);
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    padding: 15px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

/* 
*
* Selectors for the left content start here.
*
*/

.left-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
*
* Selectors for the color palette start here.
*
*/

.palette {
    padding: 15px;
    gap: 15px;
    background-color: rgba(106, 97, 72, 0.188);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-colors {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.red {
    width: 40px;
    height: 40px;
    background-color: rgb(225, 124, 96);
}

.beige {
    width: 40px;
    height: 40px;
    background-color: rgb(244, 240, 221);
}

.yellow {
    width: 40px;
    height: 40px;
    background-color: rgb(242, 203, 141);
}

.purple {
    width: 40px;
    height: 40px;
    background-color: rgb(196, 186, 242);
}

.green {
    width: 40px;
    height: 40px;
    background-color: rgb(129, 177, 154);
}

.blue {
    width: 40px;
    height: 40px;
    background-color: rgb(61, 64, 92);
}

.dark {
    width: 40px;
    height: 40px;
    background-color: rgb(66, 62, 56);
}

.light {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
}

.current-color {
    width: 95px;
    height: 40px;
    background-color: rgb(225, 124, 96);
}

/* 
*
* Selectors for the left buttons start here.
*
*/

.left-buttons {
    padding: 15px;
    background-color: rgba(106, 97, 72, 0.188);
    border-radius: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rainbow-btn:active,
.gradient-btn:active,
.color-dropper-btn:active {
    background-color: rgb(227, 227, 227);
    transform: translateY(2px);
}

/**
*
* Selectors for the right content start here.
*
*/

.right-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
*
* Selectors for the canvas start here.
*
*/

.canvas-container {
    padding: 45px 15px;
    background-color: rgba(106, 97, 72, 0.188);
    border-radius: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title:hover{
    color: rgb(128, 111, 77);
    cursor: pointer;
}

.canvas {
    display: flex;
}

/* 
*
* Selectors for the bottom panel start here.
*
*/

.bottom-panel {
    padding: 15px;
    background-color: rgba(106, 97, 72, 0.188);
    border-radius: 10px;
    gap: 100px;
    display: flex;
    align-items: center;
}

.slider-container {
    margin-top: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    cursor: pointer;
  }

 .slider::-webkit-slider-runnable-track {
    height: 8px;
    background-color: rgb(66, 62, 56);
    border-radius: 10px;
  }
  
 .slider::-moz-range-track {
    height: 8px;
    background-color: rgb(66, 62, 56);
    border-radius: 10px;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 24px;
    margin-top: -8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(66, 62, 56);
    border-radius: 10px;  
 }

.slider::-moz-range-thumb {
    width: 12px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(66, 62, 56);
    border-radius: 10px;
}

.clear-btn:active {
    background-color: rgb(227, 227, 227);
    transform: translateY(2px);
  }

/**
*
* Selectors for the footer start here.
*
*/

.footer {
    display: flex;
    justify-content: center;
}